@model eecs113_final_project_webapp.Models.SummaryReport
@{
ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/table.css" />
<script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>

<script>
window.onload = function () {
    changeTab(1)
}
</script>

<body>
    <div  style="max-width:2000px;">
        <div class="container w3-padding-32">

            <table class="table_container">
                <h1><span></span>Recent Events<span></span>
                    <thead>
                        <tr>
                            <th align="center">ID</th>
                            <th align="center">Type</th>
                            <th align="center">Time</th>
                        </tr>
                    </thead>
                    @for (var i =0; i< Model.ActionEvents.Count; ++i) { 
                        <tr>
                        <td align="center">
                            @Html.DisplayFor(modelItem => Model.ActionEvents[i].ID)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => Model.ActionEvents[i].TypeString)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => Model.ActionEvents[i].Timestamp)
                        </td>
                        </tr>
                    }
            </table>

            <table class="table_container">
                <h1><span></span>Recent Hourly Data Records<span></span>
                    <thead>
                        <tr>
                            <th align="center">ID</th>
                            <th align="center">Temperature(F)</th>
                            <th align="center">Humidity(%)</th>
                            <th align="center">Water Saved(Gal)</th>
                            <th align="center">Time</th>
                        </tr>
                    </thead>
                    @for (var i =0; i< Model.WeatherDatas.Count; ++i) { 
                        <tr>
                        <td align="center">
                            @Html.DisplayFor(modelItem => Model.WeatherDatas[i].ID)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => Model.WeatherDatas[i].Temperature)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => Model.WeatherDatas[i].Humidity)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => Model.WeatherDatas[i].WaterSaved)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => Model.WeatherDatas[i].Timestamp)
                        </td>
                        </tr>
                    }
            </table>
        </div>
    </div>
</body>